extern fn SDL_GetBasePath() as *u8;
extern fn SDL_GetPrefPath(org as *u8, app as *u8) as *u8;
extern fn SDL_IOFromFile(file as *u8, mode as *u8) as *u8;
extern fn SDL_ReadIO(context as *u8, ptr as *u8, size as i64) as i64;
extern fn SDL_WriteIO(context as *u8, ptr as *u8, size as i64) as i64;
extern fn SDL_CloseIO(context as *u8) as i32;
extern fn SDL_GetIOSize(context as *u8) as i64;

fn base_path() as *u8 { return SDL_GetBasePath(); }
fn pref_path(org as *u8, app as *u8) as *u8 { return SDL_GetPrefPath(org, app); }
fn open(file as *u8, mode as *u8) as *u8 { return SDL_IOFromFile(file, mode); }
fn read(io as *u8, ptr as *u8, size as i64) as i64 { return SDL_ReadIO(io, ptr, size); }
fn write(io as *u8, ptr as *u8, size as i64) as i64 { return SDL_WriteIO(io, ptr, size); }
fn close(io as *u8) as i32 { return SDL_CloseIO(io); }
fn size(io as *u8) as i64 { return SDL_GetIOSize(io); }
